/*Etiquetas*/

body {
    /* background-color: rgb(96, 195, 235); */
    background-color: rgb(48, 52, 58);
}

/*Banca*/

.banca {
    text-align: justify;
    background-color: #16a085;
    padding: 0;
    margin: 2, 5%;
    border-radius: 2%;
}

.Tabla_Marca {
    display: inline-table;
}

.Fin_Juego {
    background-color: rgb(127, 190, 0);
    font-size: 30px;
    font-family: 'Nunito';
    font-style: bold;
    margin: 10%;
    padding: 10px;
    text-align: center;
    border: solid;
    border-radius: 20%;
}

/*Fin del Juego*/

.Fin_Juego_Visualizar_Lista_Compuestos {
    font-size: 20px;
    font-family: 'Nunito';
    font-style: bold;
    margin: 2px;
    padding: 10px;
    text-align: center;
}

#Lista_Compuestos {
    list-style-type: none;
}

.Fin_Juego_Div {
    justify-content: center;
    align-items: center;
    background-color: rgb(127, 190, 0);
    font-family: 'Nunito';
    font-style: bold;
    margin: 10%;
    padding: 10px;
    text-align: center;
    border: solid;
    border-radius: 20%;
}

/*Verfiicación*/

.Zona_Verificacion {
    border: solid black;
    /*Hace que el borde sea solido y de color negro*/
    padding: 10px;
    display: inline-table;
    margin: 1;
    background-color: white;
    border-radius: 5%;
    font-family: 'Nunito';
    margin-right: 50;
}

.Entrada_Verificacion {
    border: solid black;
    border-radius: 5%;
}

.Boton_Normal {
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    font-family: 'Nunito';
    font-weight: bold;
    padding: 13px 20px;
    text-decoration: none;
}

/*Boton*/

.Boton_Verificacion {
    color: white;
    background-color: #16a085;
    font-size: 16px;
}

.Boton_Play_Pause {
    color: white;
    background-color: #ed6102;
    margin: 5;
    font-size: 20px;
}

#Empezar {
    font-size: 60px;
}

/*Marcador*/

.zona_puntos {
    text-align: center;
    border-radius: 5%;
    font-family: 'Nunito';
}

/*Pila de robar*/

.Pila {
    text-align: center;
    vertical-align: middle;
}

.Foto_Robar {
    display: block;
    background-color: black;
    border: 5px solid white;
    border-radius: 5%;
}

/*Misceláneo*/

.izquierda {
    text-align: left;
}

.Texto_dentro_de_tabla {
    font-family: 'Nunito';
}

/*Panel*/

.Panel_Control {
    display: inline-table;
    background-color: #91A4AA;
    padding: 5px;
    border-radius: 2.5%;
    margin-top: 20px
}

@font-face {
    font-family: 'Nunito';
    src: url("./Nunito-Regular.eot");
    src: url('./Nunito-Regular.eot?#iefix') format('embedded-opentype'), url('./Nunito-Regular.woff') format('woff'), url('./Nunito-Regular.ttf') format('truetype'), url('./Nunito-Regular.svg#adlerRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#Tabla_Records {
    text-align: center;
    margin: 0 auto;
    padding: 5px;
    background-color: white;
    border: solid 5px black;
    border-collapse: collapse;
}

#Tabla_Records th {
    font-size: 22px;
    text-transform: capitalize;
    border-bottom: black solid 5px;
    padding: 20px;
}

#Tabla_Records td {
    padding: 15px;
    border-bottom: black solid 2px;
}

.Mensaje_Error {
    color: red;
    font-style: italic;
    font-size: 30px;
    font-weight: bolder;
    margin: 20px;
    padding: 110px;
}