body {
    background-color: rgb(243, 76, 76);
    margin: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 30px;
}

h1 {
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

.Panel_Control {
    background-color: #91A4AA;
    padding: 5px;
    border-radius: 2.5%;
    margin-top: 20px
}

.Boton_Play_Pause {
    color: white;
    background-color: #ed6102;
    margin: 5;
    font-size: 20px;
}

.Boton_Normal {
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    font-family: 'Nunito';
    font-weight: bold;
    padding: 13px 20px;
    text-decoration: none;
}