/*Etiquetas*/

body {
    /* background-color: rgb(96, 195, 235); */
    background-color: rgb(48, 52, 58);
}

/*Banca*/

.banca {
    text-align: justify;
    background-color: #16a085;
    padding: 0;
    margin: 2, 5%;
    border-radius: 2%;
}

.Tabla_Marca {
    display: inline-table;
}

.Fin_Juego {
    background-color: #DAB001;
    font-size: 45;
    font-family: 'Nunito';
    font-style: bold;
    margin: 10%;
    padding: 10;
    text-align: center;
    border: solid;
    border-radius: 20%;
}

.Fin_Juego_Visualizar_Lista_Compuestos {
    font-size: 20;
    font-family: 'Nunito';
    font-style: bold;
    margin: 2;
    padding: 10;
    text-align: center;
}

.Lista_Compuestos {
    list-style-type: lower-alpha;
}

.Fin_Juego_Div {
    justify-content: center;
    align-items: center;
}

/*Verfiicación*/

.Zona_Verificacion {
    border: solid black;
    /*Hace que el borde sea solido y de color negro*/
    padding: 10px;
    display: inline-table;
    margin: 1;
    background-color: white;
    border-radius: 5%;
    font-family: 'Nunito';
    margin-right: 50;
}

.Entrada_Verificacion {
    border: solid black;
    border-radius: 5%;
}

.Boton_Normal {
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    font-family: 'Nunito';
    font-weight: bold;
    padding: 13px 20px;
    text-decoration: none;
}

/*Boton*/

.Boton_Verificacion {
    color: white;
    background-color: #16a085;
    font-size: 16px;
}

.Boton_Play_Pause {
    color: white;
    background-color: #ed6102;
    margin: 5;
    font-size: 20px;
}

/*Marcador*/

.zona_puntos {
    text-align: center;
    border-radius: 5%;
    font-family: 'Nunito';
}

/*Pila de robar*/

.Pila {
    text-align: center;
    vertical-align: middle;
}

.Foto_Robar {
    display: block;
    background-color: black;
    border: 5px solid white;
    border-radius: 5%;
}

/*Misceláneo*/

.izquierda {
    text-align: left;
}

.Texto_dentro_de_tabla {
    font-family: 'Nunito';
}

/*Panel*/

.Panel_Control {
    display: inline-table;
    background-color: #91A4AA;
    padding: 5;
    border-radius: 2.5%;
}

@font-face {
    font-family: 'Nunito';
    src: url("../Tipografias/Nunito-Regular.eot");
    src: url('../Tipografias/Nunito-Regular.eot?#iefix') format('embedded-opentype'), url('../Tipografias/Nunito-Regular.woff') format('woff'), url('../Tipografias/Nunito-Regular.ttf') format('truetype'), url('../Tipografias/Nunito-Regular.svg#adlerRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}