/* Todo lo respecto a los elementos */

/*Clases*/

.Numero_Atomico {
    text-align: left;
    /*Alineación*/
    margin: 1;
    /*Margen*/
    font-family: Arial, Helvetica, sans-serif;
}

.Nombre {
    text-align: center;
    margin: 1;
}

.Valencias {
    text-align: left;
    margin: 1;
    font-family: Arial, Helvetica, sans-serif;
}

.Simbolo_Quimico {
    text-align: center;
    font-size: 50;
    /*Tamaño de la fuente*/
    padding: 10;
    /*Distancia entre otros elementos*/
    margin: 1;
    font-family: monospace;
}

.Puntos {
    text-align: left;
    margin: 1;
    font-family: Arial, Helvetica, sans-serif;
}

.Grupo {
    text-align: left;
    margin: 1;
    font-family: Arial, Helvetica, sans-serif;
}

.Tabla_Elementos {
    border: 5px solid white;
    /*Hace que el borde sea solido y de color negro*/
    padding: 10px;
    /* En html cuando haces una tabla automaticamente se genera un salto de linea,
    es decir que no es necesario poner nada (<br>,<pre>..) para saltar de línea,
    a causa de seo no puedes poner dos tablas en fila, el atributo de display de
    css si que puedes hacerlo*/
    display: inline-table;
    margin: 5;
    border-radius: 5%;
    /*outline: 2px black solid;*/
    /*Tamaño de la tabla*/
}

.Grupo1 {
    background-color: yellow;
    color: purple;
}

.Grupo2 {
    background-color: orangered;
}

.Metal_Trancision {
    background-color: greenyellow;
}

.Grupo13 {
    background-color: #F7C0E4;
}

.Grupo14 {
    background-color: #dbcd97;
}

.Grupo15 {
    background-color: slateblue;
    color: greenyellow;
}

.Grupo16 {
    background-color: red;
}

.Grupo17 {
    background-color: #4ce682;
    color: purple;
}

.filaElementos {
    margin: 2%;
    margin-bottom: 0;
    text-align: center;
}